<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documento de visão</title>
</head>
<body>
    <form action="/tempo-pomo/" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit">

    </form>

    <h2>Timer</h2>
    <p id="rora"></p>
    <p id="demo">{{tempo_timer}}</p>
    <button id="btn">Clique</button>

    

    <p>Tempo Ativo</p>
    {% for i in tempo %}
    <p>{{i.tempoAtivo}}</p>
    {% endfor %}
    <p>Tempo Descanso</p>
    {% for i in tempo %}
    <p>{{i.tempoDesc}}</p>
    {% endfor %}

    <script>
        var btn = document.getElementById("btn")
        var demo = document.getElementById("demo")
        var rest_or_action = document.getElementById("rora")
        var ciclo = true
        var x
        var tempo_django = {{ tempo_timer }}
        var descanso_django = {{ tempo_desc }}

        btn.addEventListener('click', ()=>{

            if(x){
                clearInterval(x)
            }

            var number = document.getElementById('id_tempoAtivo').value

            var number2 = parseInt(number, 10)
            if(isNaN(number2) || number2 <= 0){
                number2 = tempo_django
            }

            if(isNaN(tempo_django) || tempo_django <= 0){
                number2 = 25
            }

            var number_rest = parseInt(document.getElementById('id_tempoDesc').value)


            var future = number2 * 60
            var rest = number_rest*60
            
            x = setInterval(()=>{
                if(ciclo){
                    rest_or_action.innerHTML = "Ativo!"

                    var hours = Math.floor(future / 3600);
                    var minutes = Math.floor((future % 3600) /60);
                    var seconds = Math.floor(future % 60);

                    minutes = String(minutes).padStart(2,'0')
                    seconds = String(seconds).padStart(2,'0')

                    demo.innerHTML = `${hours}H:${minutes}M:${seconds}S`
                    console.log(`${hours}H:${minutes}M:${seconds}S`)
                    
                    if (future<0){
                        ciclo = false
                        rest = 5*60
                    }
                    future--
                    
                } else {
                    rest_or_action.innerHTML = "Descanso!"

                    var hours = Math.floor(rest /3600);
                    var minutes = Math.floor((rest % 3600) /60);
                    var seconds = Math.floor(rest % 60);

                    minutes = String(minutes).padStart(2,'0')
                    seconds = String(seconds).padStart(2,'0')

                    demo.innerHTML = `${hours}H:${minutes}M:${seconds}S`
                    console.log(`${hours}H:${minutes}M:${seconds}S`)
                    
                    if (rest<0){
                        ciclo = true
                        future = number2 * 60
                    }
                    rest--
                    
                }
                    
            }, 1000)  
        })
    </script>
</body>
</html>