<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documento de visão</title>
</head>
<body>
    <form action="/tempo-pomo/" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit">

    </form>

    <h2>Timer</h2>
    <p id="demo">{{tempo_timer}}</p>
    <button id="btn">Clique</button>

    


    {% for i in tempo %}
    <p>{{i.tempoAtivo}}</p>
    {% endfor %}

    <script>
        var btn = document.getElementById("btn")
        var demo = document.getElementById("demo")
        var x
        var tempo_django = {{ tempo_timer }}

        btn.addEventListener('click', ()=>{

            if(x){
                clearInterval(x)
            }

            var number = document.getElementById('id_tempoAtivo').value

            var number2 = parseInt(number, 10)
            if(isNaN(number2) || number2 <= 0){
                number2 = tempo_django
            }

            if(isNaN(tempo_django) || tempo_django <= 0){
                number2 = 25
            }

            var future = new Date().getTime() + (number2*60*1000)
            
            x = setInterval(()=>{
                var now = new Date().getTime()
                var tempo = future - now

                var hours = Math.floor((tempo % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((tempo % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((tempo % (1000 * 60)) / 1000);

                minutes = String(minutes).padStart(2,'0')
                seconds = String(seconds).padStart(2,'0')

                demo.innerHTML = `${hours}H:${minutes}M:${seconds}S`
                console.log(`${hours}H:${minutes}M:${seconds}S`)

                if (tempo<0){
                    clearInterval(x)
                    demo.innerHTML = "Já era bot."
                }
            }, 1000)  
        })
    </script>
</body>
</html>